/* ALL SITE */

body {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin: 0;
    line-height: 1.6;
}

body a {
    text-decoration: none;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


/* CONTAINER */

.container {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
}


/* INTRO */

.intro {
    width: 100%;
    height: 100vh;
    background: url("../images/background_image__header.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}


/* HEADER */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3%;
    width: 100%;
    line-height: 14px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header a {
    color: #fff;
    transition: color .2s linear;
}

.header nav a:hover {
    color: #061e37;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    flex-direction: row;
    transition: filter .2s;
}

.header__logo:hover {
    filter: invert(1);
}


/* LOGO */

.logo__img {
    margin-top: -1px;
    margin-right: 10px;
}

.logo__text {
    display: flex;
    text-transform: uppercase;
}

.ultra__bold {
    font-weight: 800;
}


/* NAV */

.nav {
    font-weight: 600;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 30px;
}


/* SIGN BTN */

.sign__btn {
    padding: 5px 16px;
    border-radius: 3px;
    border: 1px solid #fff;
    text-transform: lowercase;
    transition: background-color .2s, color .2s;
}

.sign__btn:hover {
    background-color: #fff;
    color: #061e37;
}


/* MAIN CONTENT */

.intro__inner {
    display: flex;
    justify-content: space-between;
}

.allmain__text {
    max-width: 520px;
    color: #fff;
}

.tittle__text {
    max-width: 500;
    margin-left: -3px;
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 55px;
    font-weight: 800;
}


/* BTN */

.allmain__btn {
    text-transform: uppercase;
    margin-top: 25px;
}

.main__btn {
    padding: 15px 30px;
    margin-right: 20px;
    border-radius: 3px;
    text-transform: uppercase;
    color: #061e37;
    background-color: #fff;
    transition: background-color .2s, color .2s;
    font-weight: 700;
}

.main__btn:hover {
    color: #fff;
    background-color: #061e37;
}

.black__btn {
    color: #fff;
    background-color: #061e37;
    font-weight: 500;
}

.black__btn:hover {
    color: #061e37;
    background-color: #fff;
}


/* VIDEO */

.video__mp4 iframe {
    height: 102%;
    width: 440px;
    border: 1px solid #fff;
    border-radius: 6px;
}

.btn__shadow,
.video__mp4 {
    box-shadow: 3px 6px 9px #061e3756;
}


/*///////////////////////////////////////////////*/


/* GET STARTED */

.get__text {
    width: 100%;
    height: 100%;
    max-width: 750px;
    margin: auto;
    padding: 80px;
    text-align: center;
}

.get__tittle {
    font-size: 45px;
    font-weight: 600;
}

.get__subtittle {
    color: #b0bec5;
    font-size: 25px;
    font-weight: 600;
}

.get__maintext {
    padding-top: 10px;
    color: #b0bec5;
    font-size: 15px;
    font-weight: 500;
}


/* THREE BLOCKS*/

.get__block {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.blocks {
    width: 400px;
    text-align: center;
}

.lower__here {
    padding-bottom: 10px;
}

.tittle__here {
    font-size: 20px;
    font-weight: 600;
}

.subtittle__here {
    color: #78909c;
    font-size: 15px;
    font-weight: 500;
}


/* BTN */

.btn__block {
    margin: 90px 0;
    display: flex;
    justify-content: center;
}

.get_started__btn {
    font-weight: 600;
    text-align: center;
    border: 1px #1de9b6 solid;
    border-radius: 5px;
    padding: 20px 25px;
    background-color: #1de9b6;
    text-transform: uppercase;
    color: #fff;
    transition: background-color .2s, color .2s;
}

.get_started__btn:hover {
    color: #1de9b6;
    background-color: #fff;
}


/*///////////////////////////////////////////////*/

.counts {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.centered__clmn {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.line__imgandtext {
    line-height: 1.2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.mini__counts {
    display: flex;
    width: 25%;
    height: 120px;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    color: #fff;
    font-size: 18px;
}

.business {
    background-color: #80d8ff;
}

.downoalds {
    background-color: #82b1ff;
}

.free__installs {
    background-color: #b388ff;
}

.pro__users {
    background-color: #ea80fc;
}


/* SERVICES */

.headerblock__text {
    width: 100%;
    height: 100%;
    max-width: 750px;
    margin: 0 auto;
    padding-top: 85px;
    padding-bottom: 33px;
    text-align: center;
    font-size: 15px;
}

.__tittle {
    font-size: 45px;
    font-weight: 600;
}

.__maintext {
    padding-top: 10px;
    color: #b0bec5;
    font-size: 15px;
    font-weight: 500;
}


/* Accordion */

.accordion__item {
    cursor: pointer;
    border-radius: 5px;
    width: 800px;
    margin: 0 auto;
    box-shadow: 0px 3px 10px 1px #78909c44;
    margin-bottom: 20px;
}

.accordion__item.active {
    box-shadow: 0px 2px 20px 3px #78909c5b;
}

.accordion__item.active .accordion__content {
    display: flex;
}

.accordion__header {
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
}

.accordion__tittle {
    text-transform: uppercase;
    margin-left: 25px;
    font-weight: 700;
    font-size: 15px;
}

.accordion__content {
    display: none;
    justify-content: space-between;
    padding: 0 25px;
    padding-bottom: 25px;
}

.accordion__text {
    margin-left: 25px;
}

.accordion__img img {
    border-radius: 4px;
}

.accordion__item:last-child {
    margin-bottom: 100px;
}


/* Reviews */

.block__reviews {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customers__reviews {
    display: flex;
    align-items: center;
    width: 100%;
    height: 560px;
    background: url("../images/reviews_bg.jpg") center no-repeat;
    background-size: cover;
}

.leftblock__reviews {
    max-width: 520px;
    color: #fff;
}

.reviews__tittle {
    line-height: 1.2;
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 15px;
}

.subtittle__reviews {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 80px;
}

.righttopblock__reviews,
.rightbottomblock__reviews {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.righttopblock__reviews {
    margin-bottom: 70px;
}

.right__text {
    padding: 25px 45px 25px 50px;
    background: #fff;
    border-radius: 4px;
    height: 160px;
    width: 650px;
}

.reviews__img {
    margin-right: 50px;
    border-radius: 50%;
}

.reviewers__names {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 18px;
}

.review__text {
    font-size: 15px;
    font-style: italic;
}


/* OUR TEAM */

.our__team_img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.our__team_items {
    cursor: pointer;
    display: flex;
    margin: 15px;
    margin-top: 25px;
}

.description_out__team {
    margin: 0 auto;
    width: 650px;
    text-align: center;
    margin-bottom: 55px;
}

.name_of__teammates {
    margin-top: 25px;
    font-size: 18px;
    font-weight: 700;
}

.subtittle_of__teammates {
    margin-top: 28px;
    color: #90a4ae;
}

.fab {
    margin: 3px;
    color: #90a4ae;
}

.social__media_of_mates {
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
}


/* CONTACT US */

.contact__block {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #fafafa;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: 55px;
    padding-bottom: 33px;
    font-size: 15px;
}

.container__supfooter {
    width: 40%;
}

.tittle__contact_us {
    font-size: 45px;
    font-weight: 600;
}

.text__contact_us {
    margin-top: 10px;
    margin-bottom: 50px;
    color: #b0bec5;
    font-size: 15px;
    font-weight: 500;
}

.form__contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 80px;
}

.first__lastname {
    margin-bottom: 10px;
    width: 100%;
    height: 60px;
}

.email__phone {
    margin-bottom: 10px;
    width: 100%;
    height: 60px;
}

.massage__contact {
    width: 100%;
    height: 150px;
}

#small__area {
    margin-right: 35px;
    padding: 20px;
    width: 280px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #061e37;
    font-family: 'Raleway', sans-serif;
}

#small__area:last-child {
    margin-right: 0;
}

#big__area {
    font-family: 'Raleway', sans-serif;
    font-size: 500;
    padding-left: 20px;
    padding-top: 20px;
    width: 600px;
    height: 150px;
    border-radius: 5px;
    border: 2px solid #061e37;
}

.checkbox {
    margin: 0;
    margin-left: 1px;
    margin-top: 2px;
    margin-right: 5px;
}

.centered {
    display: flex;
    align-items: center;
}

.subsc__btn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.get_started {
    font-size: 16px;
    text-align: center;
    border: 1px #1de9b6 solid;
    border-radius: 5px;
    padding: 13px 45px;
    background-color: #1de9b6;
    text-transform: uppercase;
    color: #fff;
    transition: background-color .2s, color .2s;
}

.get_started:hover {
    color: #1de9b6;
    background-color: #fff;
}

footer {
    background-color: #061e37;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3%;
    width: 100%;
    line-height: 14px;
}

footer a {
    color: #fff;
    transition: color .2s linear;
}

footer nav a:hover {
    color: #808080;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    display: flex;
    flex-direction: row;
    transition: filter .2s;
}

.footer__logo:hover {
    filter: invert(0.5);
}

.under__footer {
    display: flex;
    justify-content: space-between;
}

.footer__links_margin {
    margin: 0 10px;
}

.footer__links_margin:first-child {
    margin-left: 0;
}

.footer__links_margin:last-child {
    margin-right: 0;
}

.footer__links {
    display: flex;
    align-items: center;
}

.footer__links a {
    color: #627181;
}

.under__footer {
    margin-top: 60px;
}

.fa-circle {
    margin-top: 3px;
    color: #fff;
    font-size: 5px;
}